/*
 * 自定义 webkit-scrollbar 样式
 * 淡化显示，悬浮时变深色
 */
/* 整体部分 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(60,60,60,0.03);
  border-radius: 4px;
}

/* 两端按钮 */
::-webkit-scrollbar-button {
}

/* 轨道 */
::-webkit-scrollbar-track {
}

/* 显露的轨道 */
::-webkit-scrollbar-track-piece {
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(144,147,153,.1);
  transition: background-color .3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144,147,153,.3);
}

/* 转角 */
::-webkit-scrollbar-corner {
}

/* 右下角大小调整块 */
::-webkit-resizer {
}

/* ---------------------------------------- */
/*
 * 参考案例2
 * 默认隐藏，悬浮显示
 */
/*滚动条全局样式*/
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  /*滚动条交汇处小方块*/
  background: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53%, 0.3);
}

:hover::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: hsla(0, 0%, 53%, 0);
}