// base color
// $blue:#324157;
// $light-blue:#3A71A8;
// $red:#C03639;
// $pink: #E65D6E;
// $green: #30B08F;
// $tiffany: #4AB7BD;
// $yellow:#FEC171;
// $panGreen: #30B08F;

$primaryColor: var(--color-primary);
$baseTextColor: var(--color-text-base);
$activeText:#f4f4f5;
$bg: var(--background-color, #112F79);
// logo高度
$logoHeight: var(--logo-height, 80px);
// logo图片包含文字
$logoUrl: var(--logo-img-url-large, url(/logo.png));

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
// :export {
// }
